# .spyproject
.spyproject/

data/*
data/original/
data/original/**

# we still want to ignore datafiles and code inside original and anywhere esle
**/replication_data/** 
**/_logs/**
**/_runtime/**
**/_artifacts/**
**/.DS_Store

logs/
.env
**/__pycache__/**
agent_process.log
info_extractor/__pycache__/
test_data/
.coverage

# Ignore Virtual Environment
env/